.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.app_header {
  background: linear-gradient(180deg, rgba(162,162,162,1) 0%, rgba(229,229,229,1) 58%);
  font-size: 40px;
  color: #fff;
  max-width: 1200px;
  width: 100%;
}
.main {
  background: #E5E5E5;
  padding: 50px;
  max-width: 1200px;
  box-sizing: border-box;
}
.cards_content{
  max-width: 1200px ;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  row-gap: 25px;
}

